/*重置样式*/
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    color: #A1A1A1;
    font: 14px/1.7em "微软雅黑", Arial, Tahoma, "宋体";
    background-color: #98c9d8;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #ff5f03;
}
body>div{
    height: 100%;
}

/*container样式*/
.container{
    position: relative;
    height: 100%;
    min-width: 1200px;
    min-height: 760px;
    background: url(http://www.ivali.com/static/v2/images/bg.jpg) no-repeat 50% 50%;
}

/*侧边栏样式*/
.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background: linear-gradient(-135deg, rgba(113, 141, 159, 0.8) 0%,rgba(43, 69, 89, 1) 100%);
}
.sidebar h1{
    margin: 30px auto 0;
    height: 130px;
    text-indent: -9999em;
}
.sidebar h1 a{
    display: block;
    height: 100%;
    background: url(http://www.ivali.com/static/v2/images/logo.png) no-repeat 50% 50%;
}
.sidebar .copyright{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    color: #8a8a8a;
    font-size: 12px;
    line-height: 24px;
}
.sidebar .copyright .stock{
    margin: 0 auto;
    width: 150px;
    color: #ccc;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #626f7a;
    border-radius: 3px;
}
.sidebar .copyright .stock p{
    margin: 0;
    padding-left: 10px;
}
.sidebar .copyright .stock .line{
    border-bottom: 1px solid #626f7a;
}
.sidebar .copyright>a{
    display: block;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.sidebar .copyright>p{
    margin: 0;
    text-align: center;
}

/*主内容区样式*/
.content{
    position: relative;
    margin-left: 15%;
    height: 100%;
}

/*底部合作伙伴样式*/
.partner{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #272727;
}
.partner h2{
    position: relative;
    width: 160px;
    height: 100%;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    font-weight: normal;
    background-color: #1b1b1b; 
}
.partner h2::after{
    content: "";
    position: absolute;
    right: -9px;
    top: 26px;
    display: block;
    width: 0;
    height: 0;
    border-left: 9px solid #1b1b1b;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}
.partner ul{
    position: absolute;
    left: 169px;
    top: 0;
    height: 100%;
    overflow: hidden;
    background: url(http://www.ivali.com/static/v2/images/par_logo.png) no-repeat left 50%;
}
.partner ul li{
    float: left;
    width: 130px;
    height: 100%;
}